name: byteworks

services:
  db:
    image: postgres:18
    restart: always
    environment:
      POSTGRES_DB: mydatabase
      POSTGRES_USER: user
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d mydatabase -U user"]
      interval: 10s
      timeout: 5s
      retries: 5

  web:
    build:
      context: .
      dockerfile: Dockerfile
      target: backend
    restart: always
    depends_on:
      db:
        condition: service_healthy
    environment:
      DATABASE_URL: postgresql://user:${POSTGRES_PASSWORD}@db:5432/mydatabase
      SECRET_KEY: ${SECRET_KEY}
      HASH_ALGORITHM: ${HASH_ALGORITHM}
      ACCESS_TOKEN_EXPIRE_MINUTES: ${ACCESS_TOKEN_EXPIRE_MINUTES}
    volumes:
      - uploads_data:/app/uploads

  gateway:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    depends_on:
      web:
        condition: service_started

  tunnel:
    image: cloudflare/cloudflared:latest
    restart: always
    command: tunnel --no-autoupdate --url http://gateway:80 run
    environment:
      - TUNNEL_TOKEN=${CF_TUNNEL_TOKEN}

  tunnel_logs:
    image: cloudflare/cloudflared:latest
    restart: always
    command: tunnel --no-autoupdate --url http://dozzle:8080 run
    environment:
      - TUNNEL_TOKEN=${CF_LOGS_TUNNEL_TOKEN}

  dozzle:
    image: amir20/dozzle:latest
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro

volumes:
  postgres_data:
  uploads_data:
