name: Deploy Website

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'docs/**'
      - 'README.md'
  workflow_dispatch: 

jobs:
  deploy:
    runs-on: self-hosted
    env:
      CF_TUNNEL_TOKEN: ${{ secrets.CF_TUNNEL_TOKEN }}
      CF_LOGS_TUNNEL_TOKEN: ${{ secrets.CF_LOGS_TUNNEL_TOKEN }}
      POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
      SECRET_KEY: ${{ secrets.SECRET_KEY }}
      HASH_ALGORITHM: ${{ secrets.HASH_ALGORITHM }}
      ACCESS_TOKEN_EXPIRE_MINUTES: ${{ secrets.ACCESS_TOKEN_EXPIRE_MINUTES }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Build and Deploy
        run: |
          docker compose up -d --build --remove-orphans
          docker image prune -f
